body{
  margin:0px;
}
.container {
  font-family:Arial, Helvetica, sans-serif;
  display:flex;
  flex-direction: column;
}

.header{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height:50px; 
}
.links{
  display: flex;
  font-size:18px;
  justify-content: space-between;
  color: #e5e7eb;
  gap: 30px;
}
.header, .top {
  padding-left: 200px;
  padding-right: 200px;
}
#mainimg{
  width: 478px;
  height: 285px;
}

.top{
  display: flex;
  height: 500px;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
}

.summary{
  display: flex;
  flex-direction: column;
  gap:5px;
}

.mid{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 500px;
  gap: 10px;
}

.items{
  display:flex;
  gap: 20px;
  max-width: 800px;
}
.singleItem {
  display:flex; 
  flex-direction: column;
  max-width: 250px;
}
.singleItem img {
  border-radius: 10%;
  max-width: 275px;
  max-height: 175px;
}

.midbottom{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height:500px;
  background-color: #e5e7eb;
}

.quote{
  max-width: 800px;;
  font-size:36px;
  font-weight: lighter;
  font-style:italic;
}
#quotecredit{
  display: flex;
  justify-content: flex-end;
}

.bottom{
  display:flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}
.insidebottom{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 900px;
  border-radius: 5px;
  border-style: hidden;
  gap: 100px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: steelblue;
}

.signup{
  font-size:18px;
}

footer{
  display: flex;
  justify-content: center;
}

/** multiple class css**/
.header, footer, .top{
  background-color: #1f2937;
  color: white;
}
#HeroMain{
  font-size: 48px;
  font-weight: 800;  
  color: #f9faf8;
}
#Herosecondary, #links{
  font-size:18px;
  color: #e5e7eb;
}
#headerlogo{
  font-size: 24px;
  color:#f9faf8;
}

#heromainp{
  margin:0px;
}

#firstbtn{
  font-size: 17px;
  height: 35px;
  width: 100px;
  background-color: #3882f6;
  color: #e5e7eb;
  border-radius: 5px;
  border-style: hidden;
}

.designs{
  font-size: 36px;
  font-weight: 800;
  color: #1f2937 ;
}

.itemtext{
  color:#1f2937; 
}

.insidebottom{
  background-color: #3882f6;
  color: #f9faf8; 
}

#secondbtn{
  background-color: #3882f6;
  color:#f9faf8;
  border: 1px solid #f9faf8;
  font-size: 17px;
  height: 35px;
  width: 100px;
  border-radius: 5px;
}
